[submodule "jfmact"]
	path = jfmact
	url = ../gcw0-jfmact.git
[submodule "jfaudiolib"]
	path = jfaudiolib
	url = ../gcw0-jfaudiolib.git
[submodule "jfbuild"]
	path = jfbuild
	url = ../gcw0-jfbuild.git
[submodule "libtimidity"]
	path = libtimidity
	url = https://github.com/sezero/libtimidity.git
